In [1]:
!pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in c:\users\srimalrs\appdata\roaming\python\python38\site-packages (1.2.4)
Requirement already satisfied: pytz>=2017.3 in c:\users\srimalrs\appdata\roaming\python\python38\site-packages (from pandas) (2021.1)
Requirement already satisfied: numpy>=1.16.5 in c:\users\srimalrs\appdata\roaming\python\python38\site-packages (from pandas) (1.20.3)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\srimalrs\appdata\roaming\python\python38\site-packages (from pandas) (2.8.1)
Requirement already satisfied: six>=1.5 in c:\users\srimalrs\appdata\roaming\python\python38\site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
WARNING: You are using pip version 20.1.1; however, version 21.1.2 is available.
You should consider upgrading via the 'c:\program files\python38\python.exe -m pip install --upgrade pip' command.

In [2]:
import pandas as pd 

df1 = pd.read_csv("category.csv")
df1.head()

   catid                  category
0      1                   Apparel
1      2                   Jewelry
2      3                     Shoes
3      4  Personal_Care_Appliances

In [3]:
df2 = pd.read_csv("customer.csv")

df2.head()

   custid        lname    fname  ...  premuser acctcreation                   email
0       1    Alejandro  Rosalez  ...         f      9/16/99  zckmad3386@example.com
1       2  AnaCarolina    Silva  ...         t       8/4/96  amdfov8511@example.edu
2       3        Arnav    Desai  ...         f      11/8/98  ompxfc5104@example.net
3       4       Carlos  Salazar  ...         t     12/24/10  nzqhwo7739@example.biz
4       5        Diego  Ramirez  ...         t      11/1/02  zgnhzh2914@example.org

[5 rows x 8 columns]

In [12]:
df3 = pd.read_csv("lineitem.csv")

df3.tail()

         lid   oid  pid  quantity
16639  16640  9903  623         1
16640  16641  9904  222         1
16641  16642  9905  400         1
16642  16643  9906  775         2
16643  16644  9907   39         2

In [11]:
df4 = pd.read_csv("orders.csv")

df4.tail()

       oid  custid                      ordertime
9902  9903     890  2018-10-08 02:29:45.217237+00
9903  9904      11  2018-10-08 02:30:12.693006+00
9904  9905     381  2018-10-08 02:30:42.679505+00
9905  9906     719  2018-10-08 02:30:55.697467+00
9906  9907     346  2018-10-08 02:31:01.221558+00

In [10]:
df5 = pd.read_csv("product.csv")

df5.tail()

     pid                                       title  ...  Unnamed: 15  Unnamed: 16
940  941          children's - scarf - white - large  ...          NaN          NaN
941  942         children's - boots - yellow - large  ...          NaN          NaN
942  943     children's - ear muffs - yellow - large  ...          NaN          NaN
943  944         children's - gloves - brown - large  ...          NaN          NaN
944  945  children's - winter gloves - brown - large  ...          NaN          NaN

[5 rows x 17 columns]